stage: dev

housingNeedsSharedPlanApp:
  component: serverless-next.js
  name: housing-needs-shared-plan-${stage}
  inputs:
    # domain: ["d3n7rtbt0ted3x", "cloudfront.net"]
    bucketName: housing-needs-shared-plan-${stage}
    name:
      defaultLambda: housing-needs-shared-plan-${stage}
      apiLambda: housing-needs-shared-plan-api-${stage}

#dynamoDB:
#  component: '@serverless/aws-dynamodb'
#  inputs:
#    name: SharedPlans-${stage}
#    region: eu-west-2
