stage: dev

housingNeedsSharedPlanApp:
  component: serverless-next.js
  name: housing-needs-shared-plan-${stage}
  inputs:
    # domain: ["sharedplan", "hackney.gov.uk"]
    bucketName: housing-needs-shared-plan-${stage}
    name:
      defaultLambda: housing-needs-shared-plan-${stage}
      apiLambda: housing-needs-shared-plan-api-${stage}

dynamoDB:
  component: '@serverless/aws-dynamodb'
  inputs:
    name: SharedPlans-${stage}
    region: eu-west-2
