service: hn-shared-plan

provider:
  name: aws
  runtime: nodejs12.x
  region: eu-west-2
  stage: ${opt:stage}
  environment:
    PLANS_TABLE: '${self:service}-${self:provider.stage}-plans'

package:
  individually: true
  exclude:
    - ./**

functions:
  hn-shared-plan:
    name: hn-shared-plan-${self:provider.stage}
    handler: lambda.handler
    package:
      include:
        - lambda.js
        - next.config.js
        - lib/**
        - pages/**
        - public/**
        - build/_next/**
        - node_modules/**

    events:
      - http:
          path: api/{proxy+}
          method: ANY
          authorizer: ${self:custom.authorizer.hn-shared-plan-authorizer}
      - http: ANY /
      - http: ANY /{proxy+}

    environment:
      ENV: ${self:provider.stage}
      allowedGroups: 'housingneeds-singleview-beta'
      PLANS_TABLE_NAME: ${self:provider.environment.DROPBOXES_TABLE}

  hn-shared-plan-authorizer:
    name: hn-shared-plan-authorizer-${self:provider.stage}
    handler: authorizer.handler
    package:
      include:
        - authorizer.js
        - node_modules/**

    environment:
      jwtsecret: ${ssm:/common/hackney-jwt-secret}
      allowedGroups: 'housingneeds-singleview-beta'

resources:
  Resources:
    PlansTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.DROPBOXES_TABLE}
        BillingMode: PAY_PER_REQUEST
        SSESpecification:
          SSEEnabled: true
        PointInTimeRecoverySpecification:
          PointInTimeRecoveryEnabled: true
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
          - AttributeName: queryLastName
            AttributeType: S
          - AttributeName: queryFirstName
            AttributeType: S
        GlobalSecondaryIndexes:
          - IndexName: NamesIndex
            KeySchema:
              - AttributeName: queryLastName
                KeyType: HASH
              - AttributeName: queryFirstName
                KeyType: RANGE
            Projection:
              ProjectionType: INCLUDE
              NonKeyAttributes:
                - id
                - systemIds
    GatewayResponseDefault4XX:
      Type: 'AWS::ApiGateway::GatewayResponse'
      Properties:
        ResponseParameters:
          gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
          gatewayresponse.header.Access-Control-Allow-Headers: "'*'"
        ResponseType: DEFAULT_4XX
        RestApiId:
          Ref: 'ApiGatewayRestApi'

custom:
  stage: ${self:provider.stage}
  authorizer:
    hn-shared-plan-authorizer:
      name: hn-shared-plan-authorizer
      type: request
      identitySource: ''
      resultTtlInSeconds: 0
