.lbh-link-button {
  display: block;
  font-family: inherit;
  font-size: 1em;
  color: $hackney-green;
  background: none;
  border: 0 none;
  padding: 0;
  font-weight: bold;
  cursor: pointer;
}

.lbh-link-button:hover,
.lbh-link-button:focus {
  text-decoration: underline;
}

.lbh-link-button::after {
  display: inline-block;
  margin-left: 0.5em;
}

.lbh-link-button:hover::after {
  text-decoration: none;
}

.lbh-link-button__down::after {
  content: '▾';
}

.lbh-link-button__up {
  margin-top: 0.5em;
}

.lbh-link-button__up::after {
  content: '▴';
}
