@import '../../../pages/stylesheets/vars.scss';

.share-link-to-plan__button {
  margin: 0 0 10px 0;
}

.share-plan_status {
  font-size: 0.8em;
}

.share-plan__table {
  tr {
    td,
    th {
      padding: 1em 0;
    }
  }
}

.share-plan__collaborators-list {
  @media (max-width: #{$screen-sm-min}) {
    width: 100%;
  }
}
.share-plan__collaborators-list-button,
.share-plan__collaborators-list {
  width: 12rem;
  border-bottom: none;

  @media (max-width: #{$screen-sm-min}) {
    float: left;
    clear: left;
  }
}
.share-plan__collaborators-list-headers {
  width: 12rem;

  @media (max-width: #{$screen-sm-min}) {
    display: none;
  }
}

.share-plan__collaborators-list-row {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
}
