@import '../../../pages/stylesheets/vars.scss';

.lbh-actions-list__table {
  tr {
    td,
    th {
      padding: 1em 0;
    }
  }
}

.lbh-actions-list__header {
  th {
    font-weight: normal;
    font-size: 1rem;
  }
}

.lbh-actions-list__complete {
  width: 6rem;
}

.lbh-actions-list__description {
  h2 {
    margin-bottom: 0.25em;
  }

  .lbh-actions-list__descriptions-mobile {
    margin-top: 1em;

    @media (min-width: #{$screen-sm-min}) {
      display: none;
    }
  }
}

.lbh-actions-list__due-date {
  width: 12rem;

  @media (max-width: #{$screen-sm-min}) {
    display: none;
  }

  button {
    margin-top: 0.5em;
  }
}
